.content-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    min-height: 100%;
    container-type: inline-size;
    container-name: markdown;
}

.sidebar-container {
    margin-right: 1em;
    width: 100%;
}

.mainpage-container {
    background-color: white;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .content-container {
        flex-direction: row;
    }

    .sidebar-container {
        width: 30%;
    }
    .mainpage-container {
        width: 60%;
    }
}

@media screen and (min-width: 1650px) {
    .sidebar-container {
        width: 450px;
    }
    .mainpage-container {
        width: 1050px;
    }
}
