.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    &.clickable {
        cursor: pointer;
    }

    &.disabled {
        opacity: 0.2;
        cursor: default;
    }

    .icon {
        display: block;
        padding: 3px;
        height: 2rem;
        width: 2rem;
    }
}
