@media screen and (min-width: 600px) {
    .update-video {
        min-width: 500px;
    }
    
    .edit-video-form {
        .category {
            width: 17em;
        }

        .length {
            width: 7em;
            margin-right: 2em !important;
        }

        .media {
            padding: .7em;

            .media-type {
                width: 11.5em;
            }
            .media-location {
                width: 13em;
            }
        }

        .watched-status {
            width: 7em;
        }

        .form-buttons {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
        }

        .notes {
            margin-bottom: 0;
        }
    }
}
