@media screen and (min-width: 600px) {
    .view_edit_video {
        min-width: 500px;
    }
    
    .edit_video {
        .category {
            width: 17em;
        }

        .length {
            width: 7em;
            margin-right: 2em !important;
        }

        .media {
            padding: .7em;

            .media_type {
                width: 11.5em;
            }
            .media_location {
                width: 13em;
            }
        }

        .watched_status {
            width: 7em;
        }

        .update_button {
            margin-top: 1em;
        }

        .notes {
            margin-bottom: 0;
        }
    }
}
