.compress .bp5-form-group,
.compress .bp5-button {
    margin-bottom: 0;
}

.compress {
    padding-bottom: 0.5em;
}

.compress>.bp5-button {
    margin-left: .5em;
    padding-bottom: .25em;
    height: 1em;
    align-self: flex-end;
}

.compress .bp5-label {
    font-size: 0.3rem;
    padding-bottom: 0.1rem;
}
