@import '../../variables.scss';

#app .video-list-item {
    margin: 0;
    padding: 0;
    margin: 5px;
    cursor: default;

    &:hover {
        background-color: $midGrey;
    }
    
    &.expanded {
        box-shadow: 0 0 0 1px #333333;
    }

    &:not(:hover) .priority.unchecked {
        opacity: 0.3;
    }
    
    .primary-info, .secondary-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: content-box;
        font-size: 0.85rem;

        .left {
            flex-grow: 1;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .icon {
            height: 20px;
            width: 20px;
            padding: 0;
        }

        strong {
            font-weight: 500;
        }
    }

    .primary-info {
        padding: 5px 10px;
        .bp5-form-group,
        .bp5-control.bp5-switch {
            margin: 0;
            padding: 0;
        }
    
        .video-title {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-weight: 500;
            font-size: 1.3rem;
            margin-bottom: 2px;
        }
        
        a:visited,
        a:hover,
        a:active,
        a:link {
            color: black;
            text-decoration: none;
        }
    
        svg {
            opacity: 0.8;
        }
    }

    .secondary-info {
        padding: 5px 10px 7px 10px;

        .tags {
            margin-bottom: 0.6rem;

            >span {
                margin-right: 0.5rem;
                padding: 2px 5px;
                min-width: 10px;
                min-height: 10px;
            }
        }

        .media div {
            margin-top: 3px;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}
