.video-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .4em;
    padding: 10px !important;
    font-size: 1.05rem;

    &:hover {
        background-color: whitesmoke;
    }

    &:not(:hover) .priority.unchecked {
        visibility: hidden;
    }

    .priority {
        cursor: pointer;
        width: 35px;
        height: 35px;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bp5-form-group,
    .bp5-control.bp5-switch {
        margin: 0;
        padding: 0;
    }

    .video-name {
        cursor: pointer;
        font-size: 1.3rem;
        letter-spacing: 0.2px;
    }
    
    .sub-info {
        margin-top: .3em;
    }

    a:visited,
    a:hover,
    a:active,
    a:link {
        color: black;
        text-decoration: none;
    }

    svg {
        opacity: 0.8;
    }
}
