.video-filters {
    .card {
        padding-bottom: 1em;
        margin-bottom: 1em;
        font-size: .95em;

        label { width: 12em; }

        .bp5-form-content,
        .bp5-form-content .bp5-input-group {
            width: 100%;
        }
        .watched {
            margin-top: 1em;
        }
    }

    .filter-action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
        >* {
            margin-left: 1em;
        }
    }
}
