.video-filters {
    max-width: 600px;

    .card {
        padding-bottom: 1em;
        margin-bottom: 1em;
        background-color: whitesmoke;
        font-size: 1.05rem;

        label { width: 12em; }

        .bp5-form-content,
        .bp5-form-content .bp5-input-group {
            width: 100%;
        }
        .watched {
            margin-top: 1em;
        }
    }

    .filter-action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
        >* {
            margin-left: 1em;
        }

        button {
            font-size: 1rem;
        }

    }
}
