.video-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;

    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
        >* {
            margin-left: 1em;
            margin-bottom: 1em;
        }

        button {
            font-size: 1rem;
        }

        a:visited,
        a:hover,
        a:active,
        a:link {
            color: black;
            text-decoration: none;
        }

        a:focus {
            outline: none; // remove BlueprintJS outline
        }

        .icon {
            cursor: pointer;
        }
    }
}
