@import '../../../variables.scss';

#app .cws-container {
    display: flex;
    justify-content: center;

    height: 100%;

    .cws {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        width: 100%;
        max-width: $maxContentPlusSidebarWidth;

        &.no-sidebar { max-width: $maxContentWidth }

        .cws-toolbar {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .sidebar-button {
                margin-right: auto; // push menu to left hand side
            }
        }

        .cws-content-and-sidebar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;

            .cws-content {
                width: 100%;
                flex-grow: 1;
                max-width: $maxContentWidth;
            }

            .cws-sidebar {
                margin: 20px 5px;
            }
        }

        @media screen and (min-width: $minDualPanelWidth) {
            flex-direction: row-reverse;
            justify-content: space-between;
            column-gap: 25px;

            padding-top: 1em;

            .cws-toolbar { flex-direction: column }

            .cws-content-and-sidebar {
                flex-direction: row;

                .cws-sidebar {
                    width: 34%;
                    max-width: $maxSidebarWidth;
                }

                .cws-content {
                    width: 65%;
                    flex-grow: 0;
                }
            }

            &.no-sidebar .cws-content {
                width: 100%;
            }
        }
    }
}
