@import '../../../variables.scss';

.content-with-sidebar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .content-container {
        width: 100%;
        height: 100%;
        min-height: 500px;
        background-color: $contentBgColor;
    }

    .sidebar-container {
        width: 0;
    }
    
    @media screen and (min-width: $minDualPanelWidth) {
        .content-container {
            width: 64%;
            max-width: $maxContentWidth;
        }

        .sidebar-container {
            width: 34%;
            max-width: $maxSidebarWidth;
            margin-right: 2em;
        }
    }
}
