@import '../../../variables.scss';

.content-with-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .content-container {
        width: 100%;
        max-width: $maxContentWidth;
        height: 100%;
        min-height: 500px;
        background-color: $contentBgColor;
    }

    .sidebar-container {
        width: 100%;
        max-width: $maxSidebarWidth;
    }
    
    @media screen and (min-width: $minDualPanelWidth) {
        flex-direction: row !important;
        justify-content: center;

        .content-container {
            width: 64%;
        }

        .sidebar-container {
            width: 34%;
            margin-right: 2em;
        }
    }
}
