@import '../../../variables.scss';

.tiled-container {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        border: 0;
        padding: 0;
        margin: #{$tesselateMarginPx}px 0;
    
        >div {
            height: 100%;
            width: auto;
            margin: 0 #{$tesselateMarginPx}px;
        }
    }
}
