#app .toolbox {
    display: flex;
    margin: 0;

    &.horizontal {
        flex-direction: row-reverse;
        column-gap: 5px;
        padding: 1px 2px;
    }

    &.vertical {
        flex-direction: column;
        row-gap: 5px;
        padding: 2px 1px;
    }
}
