@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

.rendered-md {
    padding: 1.5rem 1rem;
    min-height: 100%;
    text-align: justify;

    * {
        font-size: 1.02em;
        line-height: 1.4em;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 1.2em 0px 0.3em 0px;
        padding: 0;
    }

    h1 { font-size: 1.9em; }
    h2 { font-size: 1.7em; }
    h3 { font-size: 1.3em; }
    h4, h5, h6 { font-size: 1em; }
    h5 { font-style: italic; }
    h6 { color: red; text-decoration: line-through; }

    h1.title {
        font-size: 2.3em;
        margin-top: 0;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid;
        margin: 0;
        padding: 0.2em;
    }

    ol, ul {
        padding-left: 2em;
    }

    blockquote {
        margin-left: 1.5em;
    }

    p {
        margin: 1em 0;
    }

    li, li p, tr, td {
        margin: 0.2em 0;
    }

    dt {
        font-weight: bold;
        margin-top: 0.5em;
    }

    dd {
        margin-left: 1.5em;
    }

    dd p:first-child {
        margin-top: 0;
    }

    code {
        font-size: 0.9em;
        font-family: 'hack', Courier, monospace;
    }
}

@media screen and (min-width: 600px) {
    .rendered-md {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .rendered-md {
        padding: 1.5rem 3rem;
    }
}
