.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.header-sitenav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
