.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.header-sitenav,
.header-toolbox {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
