@import '../../variables.scss';

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .nav-title {
        display: flex;
        flex-direction: column;

        .site-title {
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 600;
            padding-right: 1.8rem;
            font-family: $headingFont;
        }
    }

    @media screen and (min-width: $maxMobileWidth) {
        .nav-title {
            flex-direction: row;
        }
    }
}
