.site-nav {
    height: 100%;
    width: 50%;
    border: 0;
    padding: 0;
    
    /*center align of links*/
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-between; /*or space-between*/

    a:visited,
    a:hover,
    a:active,
    a:link {
        color: black;
        text-decoration: none;
    }

    a.active {
        font-weight: bolder;
    }
}

.nav-container {
    height: 100%;
    border: 0;
    padding: 0;
    
    /*center align of links*/
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-between; /*or space-between*/

    svg {
        height: 24px;
        width: 24px;
    }
}
