.markdown-page {
    padding: 2em 4em;
    min-height: 100%;

    * {
        line-height: normal;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 1.2em 0px 0.5em 0px;
        padding: 0;
    }

    h1 { font-size: 2em; }
    h2 { font-size: 1.7em; }
    h3 { font-size: 1.3em; }
    h4, h5, h6 { font-size: 1em; }
    h5 { font-style: italic; }
    h6 { color: red; text-decoration: line-through; }

    h1.title {
        font-size: 2.5em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid;
        margin: 0;
        padding: 0.2em;
    }

    ol, ul {
        padding-left: 2em;
    }

    blockquote {
        margin-left: 2em;
    }

    pre {
        padding-right: 2em;
    }

    p, li, td {
        margin: 0.5em 0;
    }

    dt {
        font-weight: bold;
        margin: 0.4em 0;
    }
}
