.markdown-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-height: 100%;
}

.markdown-nav {
    width: 20%;
}

.markdown-content .markdown-page {
    width: 80%;
}
