.markdown-page-edit{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.markdown-page-edit textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.5em;
}
