.markdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100%;
}

.markdown-nav-container {
    min-width: 200px;
    font-family: sans-serif;
}

.markdown-page-container {
    width: 65%;
    background-color: white;
}

.markdown-page-right {
    min-width: 50px;
}
