.markdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    min-height: 100%;
}

.markdown-nav-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    font-family: sans-serif;
}

.markdown-page-container {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1100px;
    background-color: white;
}

.markdown-page-right {
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: 50px;
}
