.markdown-nav {
    padding: 1.5rem 1rem;
    margin-left: 0;
    min-height: 100%;
    display: block;
    font-size: 1.08rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;

    ol {
        list-style-type: none;
        padding-left: 2em;
    }

    >ol {
        padding-left: 0;
    }

    >ol>li:first-child {
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    li {
        margin: 0.4em 0;
    }

    a:visited,
    a:hover,
    a:active,
    a:link {
        color: black;
        text-decoration: none;
    }

    a.active {
        font-weight: 600;
    }
}

@media screen and (min-width: 600px) {
    .markdown-nav {
        padding: 1.5rem 0 0 0;
    }
}
