.markdown-page {
    height: 100%;
    width: 100%;
    position: relative;

    .markdown-page-toolbox {
        position: absolute;
        top: 2px;
        right: -40px;
        cursor: pointer;
    }
}
