.notExist {
    text-align: center;
}

.markdown-render-page {
    padding: 2rem;
    min-height: 100%;
}

@media screen and (min-width: 600px) {
    .markdown-render-page {
        padding: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .markdown-render-page {
        padding: 4rem 3.7rem 1rem 3.7rem;
    }
}
