.markdown-nav {
    padding: 1.5rem 1rem;
    margin-left: 0;
    min-height: 100%;
    display: block;
    font-size: 1.03rem;
    font-weight: 400;

    ol {
        list-style-type: none;
        padding-left: 1.7em;
    }

    >ol {
        padding-left: 0;
    }

    >ol>li:first-child {
        padding-bottom: 0.4rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    li {
        margin: 0.4em 0;
    }

    a:visited,
    a:hover,
    a:active,
    a:link {
        color: black;
        text-decoration: none;
    }

    a.active {
        font-weight: 600;
    }

    a:focus {
        outline: none; // remove BlueprintJS outline
    }
}

@media screen and (min-width: 600px) {
    .markdown-nav {
        padding: 1.5rem 0 0 0;
    }
}
