header
{
    background-color: #aaa;
    flex-basis: 1.5em;
    
    /*center align of links*/
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-around; /*or space-between*/
}
