.site-nav {
    height: 100%;
    
    /*center align of links*/
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-around; /*or space-between*/

    a:visited,
    a:hover,
    a:active,
    a:link {
        color: black;
        text-decoration: none;
    }

    a.active {
        font-weight: bolder;
    }
}
