.content{
    display: flex;
    justify-content: center;
    background-color:#808080;
    flex: 1;
    width: 100%;
    overflow-y: scroll;
}

.justifiedGallery {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4px;
    border: 0;
    padding: 0;
    width: 280px;
}

@for $i from 3 through 10 {
    @media screen and (min-width: #{$i * 100}px) {
        .justifiedGallery {
            width: #{$i * 100 - 20}px;
        }
    }
}

@for $i from 11 through 25 {
    @media screen and (min-width: #{$i * 100}px) {
        .justifiedGallery {
            width: #{$i * 100 - 40}px;
        }
    }
}
