.LightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(40,40,40,0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
}

.LightBox img {
    max-height: 98%;
    max-width: 98%;
    object-fit: scale-down;
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10%;
    height: 80%;
    width: 5%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    text-align: right;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.close {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.prev:hover,
.next:hover,
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-info {
    position: absolute;
    text-align: center;
    font-size: 17px;
    padding: 9px;
    bottom: 0%;
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(55,55,55,0.5);
}

.preload {
    display: none;
}
