
.rendered-md {
    text-align: justify;

    * {
        line-height: 1.75rem;
        font-size: 1.15rem;
        font-weight: 300;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 1.7rem 0px 1.2rem 0px;
        padding: 0;
        font-weight: 600;
        text-align: left;
        font-family: 'Raleway', sans-serif;
    }
    
    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
        margin-top: 1.4rem;
    }

    h1 { font-size: 1.6rem; }
    h2 { font-size: 1.3rem; }
    h3 { font-size: 1.1rem; }
    h4, h5, h6 { font-size: 1rem; }
    h5 { font-style: italic; }
    h6 { color: red; text-decoration: line-through; }

    h1.title {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 2.7rem;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid;
        margin: 0;
        padding: 0.2rem;
    }

    ol, ul {
        padding-left: 2rem;
    }

    blockquote {
        margin-left: 1.5rem;
    }

    p {
        margin: .95rem 0;
    }

    li, li p, tr, td {
        margin: 0.2rem 0;
    }

    dt {
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
    }

    dd {
        margin-left: 1.5rem;
    }

    dd p:first-child {
        margin-top: 0;
    }

    code,
    code * {
        padding: 0;
        font-family: 'hack', Courier, monospace;
    }

    pre code,
    pre code * {
        line-height: 1.4rem;
        font-size: 0.95rem;
    }

    pre code {
        padding: 0.5em 0.8em;
    }

    strong {
        font-weight: 500;
    }
}
