@import '../../site/variables.module.scss';

.notExist {
    text-align: center;
}

.markdown-render-page {
    padding: 0 1.5rem 0 1.5rem;
    height: 100%;
    background-color: $contentBgColor;

    @media screen and (min-width: $maxMobileWidth) {
        padding: 0 3.5rem 2rem 3.5rem;
    }
}
