.markdown-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .markdown-toolbox {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 10px;
        padding: 5px;
    }
}
