@import '../../variables.scss';

.markdown-view-page {
    padding: 0.5rem;
    height: 100%;
    background-color: $contentBgColor;

    @media screen and (min-width: $maxMobileWidth) {
        padding: 1.5rem 3rem;
    }
}
