@import '../../../variables.module.scss';

.edit-markdown {
    height: 100%;
    border: 1px solid grey;

    &>div {
        height: 100%;
    }

    div.cm-line {
        font-family: $fixedWidthFont;
        font-size: 0.95rem;
        line-height: 1.5;
    }
}
