@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

#app-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;

    background-color: #EEEEEE;
    font-size: 1.2rem;
    font-weight: 300;
}

.app {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.header-container,
.footer-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2.5rem;
    width: 100%;
    font-size: 1rem;
}

.component-container {
    margin-top: 25px;
    margin-bottom: 25px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

@for $i from 8 through 16 {
    @media screen and (min-width: #{$i * 75}px) {
        .app {
            width: #{$i * 75 - 20}px;
        }
    }
}

@for $i from 9 through 13 {
    @media screen and (min-width: #{$i * 150}px) {
        .app {
            width: #{$i * 150 - 50}px;
        }
    }
}
