#app-root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ddd;
    height: 100vh;
}

.app {
    font-family: Sans-Serif;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 1 auto;
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
}

footer {
    flex: 0 1 auto;
    background-color: #aaa;
    flex-basis: 1.5em;
    
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-around; /*or space-between*/
}

@for $i from 3 through 10 {
    @media screen and (min-width: #{$i * 100}px) {
        .app {
            width: #{$i * 100 - 50}px;
        }
    }
}

@for $i from 11 through 25 {
    @media screen and (min-width: #{$i * 100}px) {
        .app {
            width: #{$i * 100 - 50}px;
        }
    }
}
