@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway&display=swap');

#app-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;

    background-color: #EEEEEE;
    font-family: 'Raleway', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.header-container,
.footer-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2.5rem;
    width: 100%;
}

.component-container {
    margin-top: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

@for $i from 5 through 9 {
    @media screen and (min-width: #{$i * 150}px) {
        .app {
            width: #{$i * 150 - 30}px;
        }
    }
}

@for $i from 10 through 13 {
    @media screen and (min-width: #{$i * 150}px) {
        .app {
            width: #{$i * 150 - 50}px;
        }
    }
}
