header,
footer{
    background-color: #ccc;
    flex-basis: 30px;
    
    /*center align of links*/
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-around; /*or space-between*/
}
