$maxMobileWidth: 600px;
$minDualPanelWidth: 920px;
$maxContentWidth: 900px;
$maxSidebarWidth: 400px;
$maxContentPlusSidebarWidth: 1400px;

$appBgColor: #EEEEEE;
$lightGrey: #F5F5F5;
$contentBgColor: white;
$midGrey: #BBBBBB;

$fixedWidthFont: 'hack', Courier, monospace;
$headingFont: 'Raleway', sans-serif;

$tesselateMarginPx: 3;
