$maxMobileWidth: 600px;
$minDualPanelWidth: 920px;
$maxContentWidth: 920px;
$maxSidebarWidth: 400px;
$maxContentPlusSidebarWidth: 1400px;

$appBgColor: #EEEEEE;
$midGrey: #F5F5F5;
$contentBgColor: white;
$galleryBgColor: #BBBBBB;

$fixedWidthFont: 'hack', Courier, monospace;
$headingFont: 'Raleway', sans-serif;
$defaultFont: 'Arial', sans-serif;

$tesselateMarginPx: 3;
