$icon-background-color: lightgrey;
$icon-text-color: black;

.icon {
    display: block;
    padding: 3px;
    height: 2rem;
    width: 2rem;
}

.icon.disabled {
    color: darkgrey;
}

.icon.disabled:hover {
    cursor: not-allowed;
}
