@import '../../site/variables.module.scss';

.gallery-content {
    background-color: $galleryBgColor;
    width: 100%;
    min-height: 100%;
    padding: 5px;

    @media screen and (min-width: $minDualPanelWidth) {
        padding: 20px;
    }
}
