.justified-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 0;
    padding: 0;

    // Fill the remaining space on the last row to workaround space-between flex prop
    &:after {
        content: "";
        flex: auto;
    }
}
