.tiled-container {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        border: 0;
        padding: 0;
        margin-bottom: 5px;
    
        >div {
            height: 100%;
            margin: 3px; /* also needs to be set as MARGIN_PX in JustifiedGallery.tsx */
            width: auto;
        }
    }
}
